*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Tahoma', Arial, sans-serif;
}

.desc {
	display: flex;
	justify-content: space-around;
	margin-top: 70px;
	margin-bottom: 80px;
}

.desc__image {
	margin-left: 250px;
	margin-right: -350px;
}

.image__book {
	width: 80%;
	height: 95%;
}

.desc__text {
	margin-right: 450px;
	margin-top: 25px;
}

.desc-title {
	font-size: 35px;
}

.desc-name {
	margin-top: -10px;
	font-weight: normal;
	font-size: 22px;
	margin-left: 2px;
}

.desc-info {
	font-size: 15px;
	max-width: 450px;
	margin-bottom: 30px;
}

.desc-price {
	font-size: 30px;
	margin-bottom: 60px;
}

.desc-buy {
	margin-right: 40px;
	text-decoration: none;
	color: #f15921;
	border: 2px solid #f15921;
	border-radius: 5px;
	padding: 12px 35px;
	font-weight: bold;
}

.desc-buy:hover, .desc-more:hover {
	background-color: #f15921;
	color: white;
}

.desc-more {
	text-decoration: none;
	color: #f15921;
	border: 2px solid #f15921;
	border-radius: 5px;
	padding: 12px 40px;
	font-weight: bold;
}

.payment {
	background-color: #f2f2f2;
	height: 25vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 100px;
	height: 350px;
}

.payment-text {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.payment-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	list-style: none;
}

.list-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	list-style: none;
	margin-right: 95px;
}

.list-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.list-text {
	text-align: center;
	max-width: 200px;
	padding-bottom: 100px;
}

.buyers {
	max-width: 1600px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 60px;
}

.buyer {
	margin-left: 300px;
	margin-bottom: 40px;
}

.buyers-img {
	margin-left: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.img-item {
	margin: 20px;
}